#loginForm {
    padding: 80px 0;
    background: #f9f9f9;
}
.loginform {
    padding: 150px 35px;
    box-shadow: 0px 0px 35px 1px rgb(55 41 67 / 10%);
    border-radius: 8px;
}
.loginBtn {
    display: block;
    width: 100%;
    background: #41a745;
    border: none;
    padding: 10px 0;
    color: #fff;
    font-weight: 600;
    border-radius: 30px;
    margin-bottom: 15px;
}
.withSign button {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 30px;
    color: #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-weight: 600;
}
.googleSign button{
    background: #c94131;
}
.withSign button svg {
    margin-right: 5px;
}
.logout-btn {
    background: none;
    color: black;
    border: 0;
    padding: 8px;
}
.navbar-text {
    margin: 0 8px;
}
.error-massage p {
    color: red;
}