.user-info button,
.user-info .btn-primary:not(:disabled):not(.disabled):active,
.user-info .btn-primary:not(:disabled):not(.disabled):active:focus{
    background: none !important;
    color: black !important;
    padding: 0 !important;
    box-shadow: none !important;
}